
header{
    display: flex;
    flex-direction: column;
}
.header__titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(22, 22, 128);
    background-color: rgb(241, 239, 239);
    font-family: 'Roboto Slab', serif;
}


.header__navegacion{
    display: flex;
    flex-wrap:nowrap;
    background-image: linear-gradient(to top, rgb(19, 43, 129), rgb(80, 78, 219));
    color:rgb(241, 239, 239) ;

    
}
/* flex direction, wrap es para que se agrupen cuando achico la pantalla*/

li{
    padding: 1rem;
}
a{
    text-decoration: none;
}

.header__navegacion li>a{
    color:rgb(241, 239, 239) ;
    padding: 0,5rem;
    font-family: 'Roboto Slab', serif
    
   
}

    /* esto es para menu desplegable- */

ul{
    list-style-type:none;
    font-size: 0px;
}
li{
    display: inline-block;
    width: 20vw;
    position: relative;
    font-size: 1rem;
}
ul ul{
    position: absolute;
    display: none;
}
ul ul li{
    display:block;

}

ul li:hover ul{
    display: block;
    background-image: linear-gradient(to top, rgb(19, 43, 129), rgb(80, 78, 219));
    padding: 1px;
    margin: 0px;
}
    
           /**/

.portada{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    /*align-items: center;*/
    margin: 30px;
    background-image: linear-gradient(to top, rgb(121, 131, 199), rgb(217, 217, 196));

    /* probar con flex direction, background image ,height, justify content center, align item center*/

}
.portada__padreImagen{
    align-self: center;

}

.portada__tituloDos{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 2rem;
    background-image: linear-gradient(to top, black, grey);
    color: rgb(247, 136, 155);
    border: 10px solid rgb(148, 165, 53)
    
    
    
}


.portada__imagen{

    display: flex;
    flex-direction: row;
    justify-content: end;
    background-image: linear-gradient(to top, black, grey);

    padding: 1rem;
    margin: 1rem;
    border: 10px solid rgb(150, 150, 54);
    width: 40vw;
    height: 60vh;
    border-radius: 1rem;
}

/* ancho se dice width y alto height */


.portada__padreBoton{
   align-self: center;

}

.portada__boton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to top, black, grey);

    color: yellow;
}
.portada__boton:hover{
    transform: scale(2);
}

.portada__productos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    padding: 30px;
    border: none;
    border-radius: 50%;
    color: rgb(223, 236, 247);
    background: rgb(17, 0, 101)
    
}
.portada__item1{
    border:groove 20px rgb(48, 48, 164);
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
}
.portada__item2{
    border:groove 20px rgb(48, 48, 164);
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
}
.portada__item3{
    border:groove 20px rgb(48, 48, 164);
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
}
.portada__item4{
    border:groove 20px rgb(48, 48, 164);
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
}
.portada__item5{
    border:groove 20px rgb(48, 48, 164);
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
}
.portada__item6{
    border:groove 20px rgb(48, 48, 164);
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
}
.portada__item7{
    border:groove 20px rgb(48, 48, 164);
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
}
    
.destacado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, black, rgb(45, 44, 44));
    height: 700px;
}
.destacado__titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    color: rgb(178, 152, 67);
}

.destacado__imagen{
    margin: none;
    padding: 1rem;
    width: 60vw;
    height: 50vh;
    border-radius: 25% 10%;
}
.destacado__boton{
    width: 100px;
    height: 30px;
    margin: none;
    color: rgb(9, 9, 10);
    background-image: linear-gradient(to top, rgb(255, 255, 255), rgb(172, 172, 172));
    font-family: 'Roboto Slab', serif
    
}
.destacado__boton:hover{
    transform: scale(2);
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px;
    color: rgb(22, 22, 128);
    background-color: rgb(241, 239, 239);
    font-family: 'Roboto Slab', serif
    


}

/* Contacto */
.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 60px;
    color: rgb(22, 22, 128);
    background-color: rgb(241, 239, 239);
    border-radius: 30px;

}
.contacto__aclaracion{

    font-family: 'Roboto Slab', serif
}
.contacto__otrosMetodos{

    color: rgb(22, 22, 128);
    background-color: rgb(241, 239, 239);
    font-family: 'Roboto Slab', serif

}

/**/

/* Preg frecuentes*/

.main__pregFrec{
    color: rgb(22, 22, 128);
    background-color: rgb(241, 239, 239);
    font-family: 'Roboto Slab', serif
}

/**/

/*Sobre Nosotros*/

.sectionSobreNos{
    color: rgb(22, 22, 128);
    background-color: rgb(241, 239, 239);
    font-family: 'Roboto Slab', serif
}

.sectionSobreNos__historia{
   font-family:Arial, Helvetica, sans-serif

}

/* Productos*/

.mainProductos__titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(22, 22, 128);
    background-image: linear-gradient(to top, rgb(255, 255, 255), rgb(203, 203, 210));
    font-family: 'Roboto Slab', serif;

}

.grid__container{
    display: grid;
    border: none;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;

}

.grid__item{
    display: flex;
    flex-direction:inherit;
    gap: 25px;
    border: 10px solid cornflowerblue;
    background-color: rgb(249, 249, 249);
}
.grid__item:hover{
    transform: scale(1,2);
}

.grid__uno{
    grid-row: 1fr;
    grid-column: 1fr;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../recursos/waflera.png")
     
}
.grid__dos{
    grid-row: 1fr;
    grid-column: 1fr;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../recursos/tostadora.png")
    
}
.grid__tres{
    grid-row: 1fr;
    grid-column: 1fr;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../recursos/sanguchera.png")
}
.grid__cuatro{
    grid-row: 1fr;
    grid-column: 1fr;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image:url("../recursos/vaporera.png")
}
.grid__cinco{
    grid-row: 1fr;
    grid-column: 1fr;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../recursos/robot.png")
}
.grid__seis{
    grid-row: 1fr;
    grid-column: 1fr;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../recursos/pasta.png")
}
.grid__siete{
    grid-row: 1fr;
    grid-column: 1fr;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../recursos/freidora.png")
}
.grid__ocho{
    grid-row: 1fr;
    grid-column: 1fr;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../recursos/sopera.png")
}
.grid__nueve{
    grid-row: 1fr;
    grid-column: 1fr;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../recursos/panera.png")
}
.grid__diez{
    grid-row: 1fr;
    grid-column: 1fr;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../recursos/batidora.png")
}
.grid__once{
    grid-row: 1fr;
    grid-column: 1fr;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../recursos/multiprocesadora.png")
}
.grid__doce{
    grid-row: 1fr;
    grid-column: 1fr;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../recursos/procesadora.png")
}
.grid__trece{
    grid-row: 1fr;
    grid-column: 1fr;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../recursos/licuadora1.png")
}
.grid__catorce{
    grid-row: 1fr;
    grid-column: 1fr;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../recursos/pava.png")
}
.grid__quince{
    grid-row: 1fr;
    grid-column: 1fr;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../recursos/cafetera.png")
}
.grid__diesciseis{
    grid-row: 1fr;
    grid-column: 1fr;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../recursos/termo.png")
    
}

.mainProductos__foto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 20px solid cornflowerblue;
    border-style: outset;
}
    


.mainProductos__boton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border: 10px solid rgb(43, 91, 182);
    border-style: outset;
}

/*media querie --min with: minimo
max with: maximo*/

@media (min-width:541px) and (max-width:720px) {
   
    .header__navegacion{
        display: flex;
        flex-wrap:wrap;
       
    
        
    }
}
@media (min-width:320px) and (max-width:540px) {
    
    .header__navegacion{
        display: flex;
        flex-wrap:wrap;
       
    
        
    }
}





/* display none es para esconder algo, por ej para pasar de compu a celu escondes el titulo grande y pones uno mas chiquito*/
/*position:fixed
width:50
bottom:0
right:0 
esto es para dejar algo fijo y que se mueva el resto , por ej boton de wsp*/

/*border radius es para bordes redondeados


me falta tambien armar las etiquetas para los productos*/