@charset "UTF-8";
/*Colores

$color-body:
$color-secundary:
$color-letra-navegacion:
$color-boton:

/* tipos de letras
$font-principal:
$font-body:

/*Tamaños
$ancho:
$alto:
*/
.header {
  /*aca pasa algo que se me rompe*/ }
  .header__titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #0f0b3c, #1f4083);
    color: #f1efef;
    font-family: "Oswald", sans-serif;
    font-size: 5rem;
    margin: none;
    padding: 2rem; }

/*.resaltado:hover{
     color: rgb(87, 87, 233);
 }como hago aca par ponerle un hover a los botones de nav?*/
@media (min-width: 300px) and (max-width: 413px) {
  .header__titulo {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px; } }

@media (min-width: 414px) and (max-width: 600px) {
  .header__titulo {
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem; }
  .container__boton {
    font-size: 1rem;
    margin: 200px;
    padding: 2px; }
  /*.footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 5px;
    
       
    }no se como achicar la letra en celular */
  .potada__productos {
    font-size: 5px; }
  .carousel {
    margin: 5px; }
  /*Tengo que hacer responsive productos

    

    .imgRedonda {
        display: flex;
        flex-wrap:wrap;
        width: 50px;
        height: 50px;
        border-radius:50px;
        border-style: outset;
        
    }como hago aca para achicar las imagenes en modo celular o borrarlas y dejar solo la primera*/ }

@media (min-width: 600px) and (max-width: 933px) {
  .header__titulo {
    display: flex;
    flex-wrap: wrap;
    font-size: 3rem; } }

@media (min-width: 300px) and (max-width: 600px) {
  .grupoImg {
    display: none; }
  .portada__productos {
    font-size: 40px; }
  .grupoImg1 {
    border-radius: 10px; }
  .container__tituloDos {
    display: flex;
    font-size: 2px;
    /*no funca*/ } }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #e2e1e6; }

/*.navbar:hover{ como mierda hago para que cambie de color
    color: rgb(77, 77, 241);
}*/
.navbar-color {
  background-image: linear-gradient(to top, #0f0b3c, #1f4083);
  color: #ceced5; }

.fuente {
  color: #d9e1ea; }

.buscador {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  color: #2121a7;
  border: 5px solid #2b5bb6; }

.producto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #161680;
  font-size: xx-large;
  font-family: 'Roboto Slab', serif; }

.imgRedonda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 100px;
  height: 100px;
  border-radius: 150px;
  border-style: outset; }

.imgRedonda1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 110px;
  height: 110px;
  border-radius: 150px;
  border-style: outset; }

.borde:hover {
  transform: scale(1.2, 1.2);
  border-style: outset; }

.container {
  /* con col armar diferentes partes, en el caso de querer una medida especial de pantalla por ej la imagen*/
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .container__tituloDos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #0f0b3c, #1f4083);
    color: #b4c6d8;
    font-family: "Oswald", sans-serif;
    font-size: 2rem;
    margin: none;
    padding: 2rem; }
  .container__padreBoton {
    align-self: center; }
  .container__boton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    background-image: linear-gradient(to top, black, #1c3870);
    font-family: "Oswald", sans-serif;
    color: #e1e1f2; }
  .container__boton:hover {
    transform: scale(2); }

.portada {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 2rem;
  background-image: linear-gradient(to top, #7983c7, #d9d9c4);
  /* probar con flex direction, background image ,height, justify content center, align item center*/ }

/* ancho se dice width y alto height */
/* index ultima section*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px;
  color: #161680;
  background-color: white;
  font-family: 'Roboto Slab', serif; }

/* Contacto */
.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: 60px;
  color: #161680;
  background-color: #f1efef;
  border-radius: 30px; }
  .contacto__aclaracion {
    font-family: 'Roboto Slab', serif; }

.otrosMetodos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: 60px;
  color: #161680;
  background-color: #f1efef;
  border-radius: 30px;
  font-family: 'Roboto Slab', serif; }

.form-select {
  color: #161680; }

/**/
/* Preg frecuentes*/
.main__pregFrec {
  color: #161680;
  background-color: #f1efef;
  font-family: 'Roboto Slab', serif; }

/**/
/*Sobre Nosotros*/
.sectionSobreNos {
  margin: 2rem;
  color: #161680;
  background-color: #f1efef;
  font-family: 'Roboto Slab', serif; }

.sectionSobreNos__historia {
  margin: 2rem;
  font-family: Arial, Helvetica, sans-serif; }

/* Productos*/
.flex {
  display: flex;
  gap: 15px; }

titulo {
  font-size: size;
  color: linear-gradient(to top, #0f0b3c, #1f4083); }

titulo {
  font-size: size;
  color: linear-gradient(to top, #0f0b3c, #1f4083); }

titulo {
  font-size: size;
  color: linear-gradient(to top, #0f0b3c, #1f4083); }

.mainProductos__titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #161680;
  background: linear-gradient(to top, white, #cbcbd2);
  font-family: 'Roboto Slab', serif; }

.gal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  border-style: outset; }

/*

.grid__container{
    display: grid;
    border: none;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;

}

.grid__item{
    display: flex;
    flex-direction:inherit;
    gap: 25px;
    border: 10px solid cornflowerblue;
    background-color: rgb(249, 249, 249);
}
.grid__item:hover{
    transform: scale(1,2);
}

.grid__uno{
    grid-row: 1fr;
    grid-column: 1fr;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../recursos/waflera.png")
     
}
.grid__dos{
    grid-row: 1fr;
    grid-column: 1fr;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../recursos/tostadora.png")
    
}
.grid__tres{
    grid-row: 1fr;
    grid-column: 1fr;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../recursos/sanguchera.png")
}
.grid__cuatro{
    grid-row: 1fr;
    grid-column: 1fr;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image:url("../recursos/vaporera.png")
}
.grid__cinco{
    grid-row: 1fr;
    grid-column: 1fr;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../recursos/robot.png")
}
.grid__seis{
    grid-row: 1fr;
    grid-column: 1fr;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../recursos/pasta.png")
}
.grid__siete{
    grid-row: 1fr;
    grid-column: 1fr;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../recursos/freidora.png")
}
.grid__ocho{
    grid-row: 1fr;
    grid-column: 1fr;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../recursos/sopera.png")
}
.grid__nueve{
    grid-row: 1fr;
    grid-column: 1fr;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../recursos/panera.png")
}
.grid__diez{
    grid-row: 1fr;
    grid-column: 1fr;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../recursos/batidora.png")
}
.grid__once{
    grid-row: 1fr;
    grid-column: 1fr;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../recursos/multiprocesadora.png")
}
.grid__doce{
    grid-row: 1fr;
    grid-column: 1fr;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../recursos/procesadora.png")
}
.grid__trece{
    grid-row: 1fr;
    grid-column: 1fr;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../recursos/licuadora1.png")
}
.grid__catorce{
    grid-row: 1fr;
    grid-column: 1fr;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../recursos/pava.png")
}
.grid__quince{
    grid-row: 1fr;
    grid-column: 1fr;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../recursos/cafetera.png")
}
.grid__diesciseis{
    grid-row: 1fr;
    grid-column: 1fr;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../recursos/termo.png")
    
}


.mainProductos__foto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 20px solid cornflowerblue;
    border-style: outset;
}
    


.mainProductos__boton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border: 10px solid rgb(43, 91, 182);
    border-style: outset;
}

/*media querie --min with: minimo
max with: maximo*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: #f1efef;
  color: linear-gradient(to top, #0f0b3c, #1f4083);
  font-family: "Oswald", sans-serif;
  font-size: 13px;
  margin: 2rem;
  padding: 1rem; }

/* display none es para esconder algo, por ej para pasar de compu a celu escondes el titulo grande y pones uno mas chiquito*/
/*position:fixed
width:50
bottom:0
right:0 
esto es para dejar algo fijo y que se mueva el resto , por ej boton de wsp*/
/*border radius es para bordes redondeados


me falta tambien armar las etiquetas para los productos*/
