.header{
    &__titulo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: $color-primary; 
        color :rgb(241, 239, 239) ;
        font-family: $font-principal;
        font-size: 5rem;
        margin: none;
        padding: 2rem;
    }
  
}
 