

@media (min-width:300px) and (max-width:413px) {
    .header__titulo{
        display: flex;
        flex-wrap:wrap;
        font-size: 20px;
        
    }
   

}
@media (min-width:414px) and (max-width:600px) {
    
    .header__titulo{
        display: flex;
        flex-wrap:wrap;
        font-size: 2rem;
        
    }
    .container__boton{
        font-size: 1rem;
        margin: 200px;
        padding: 2px;

    }
    /*.footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 5px;
    
       
    }no se como achicar la letra en celular */

    .potada__productos{
        font-size: 5px; 
    }
    
    
    .carousel{
        margin: 5px;
    }
        /*Tengo que hacer responsive productos

    

    .imgRedonda {
        display: flex;
        flex-wrap:wrap;
        width: 50px;
        height: 50px;
        border-radius:50px;
        border-style: outset;
        
    }como hago aca para achicar las imagenes en modo celular o borrarlas y dejar solo la primera*/
}
@media (min-width:600px) and (max-width:933px) {
    .header__titulo{
        display: flex;
        flex-wrap:wrap;
        font-size: 3rem;
        
    }
}
@media (min-width:300px) and (max-width:600px) {
    .grupoImg{
        display: none;
    }
    .portada__productos{
        font-size: 40px;
    }
    .grupoImg1{
        border-radius: 10px;
    }
    .container__tituloDos{
        display:flex;
        font-size: 2px;
        /*no funca*/
        
    } 
}


