
/*Colores

$color-body:
$color-secundary:
$color-letra-navegacion:
$color-boton:

/* tipos de letras
$font-principal:
$font-body:

/*Tamaños
$ancho:
$alto:
*/
$color-primary: linear-gradient(to top, rgb(15, 11, 60), rgb(31, 64, 131));

$font-principal: 'Oswald', sans-serif;

